.app__container {
  display: flex;
  flex-direction: column;
}

.app__container--title{
  background-color: #0250bc;
  margin-top: 0rem;
  height: 5rem;
  align-items: center;
  display: flex;
  padding-left: 1.25rem;
  color: rgb(222, 214, 214);
}

.article__container {
  display: flex;
  margin: 1.25rem;
  justify-content: space-around;
}

.action__task {
  width: 30%;
  margin-right: 1.25rem;
}

.add__task__button {
  border: transparent;
  background: #03ee69;
  color: #ffffff;
  text-decoration: none; 
}

.add__task__button:active {
  border: transparent;
  background: #23b562;
  color: #ffffff;
  text-decoration: none; 
}

.view__task {
  width: 60%;
  margin-left: 3.125rem;
  border: 0.063rem solid #dedede;
  border-radius: 0.313rem;
  height: fit-content;
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
}

.view__task--title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view__task--subtitle {
  align-content: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.938rem;
}

.edit__task__button--cancel,
.edit__task__button--edit,
.table__button--edit {
  background: transparent;
  border: 0.063rem solid #cdcdcd;
  margin-top: 0.313rem;
  margin-right: 0.625rem;
  color: #4e4e4e; 
}

.edit__task__button--cancel:active,
.edit__task__button--edit:active,
.table__button--edit:active {
  border: 0.063rem solid #cdcdcd;
  background: #aaa9a9;
  color: #ffffff;
  text-decoration: none; 
}

.table__button--delete {
  border: 0.063rem solid #cdcdcd;
  background: #f54c4c;
  margin-top: 0.313rem;
  margin-right: 0.625rem;
  color: #ffffff;; 
}

.table__button--delete:active {
  border: 0.063rem solid #cdcdcd;
  background: #b73b3b;
  color: #ffffff;
  text-decoration: none; 
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem; 
}

button {
  -webkit-appearance: none;
  display: inline-block;
  border: transparent;
  border-radius: 0.25rem;
  color: #ffffff;
  min-width: 1vw;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1rem;
  margin: 0rem 0rem .5rem 0rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1; 
}

.task__input {
  display: block;
  border: 0.063rem solid #dedede;
  border-radius: 0.25rem;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1; 
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0rem .5rem; 
}

.table {
  border-collapse: collapse;
  border-spacing: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table__thead {
  display: flex;
  justify-content: left;
  background-color: rgb(53, 161, 228);
  height: 3.125rem;
  align-items: center;
}

.table__thead--tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0rem 60px 0rem 0.625rem;
}

.table__tbody {
  display: flex;
  flex-direction: column;
}

.table__tbody--tr {
  display: flex;
  align-items: center;
  width: 96%;
  justify-content: space-between;
  margin: 0.625rem 0rem 0rem 0.625rem;
  height: 3.75rem;
  border-bottom: 0.063rem solid #dedede;
}

